/* start of global */
:root {
	--bgcolor: #111A28;
	--1bgcolor: #0C121D;
    --2bgcolor: #000000;
    --bheader: #5B63B7;
    --textcolor: #fefefe;
    --1textcolor: #fff;
    --borderradius: 7px;

}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

body{
    padding: 0px;
    margin: 0px;
    background-color: var(--bgcolor);
    box-sizing: border-box;
    color: var(--textcolor);
    font-size: 1.3vw;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: var(--textcolor);
}

.title {
    color: var(--bheader);
    font-size: 2vw;
    font-weight: 700;
    padding: 4vw 0vw;
}

.title_center {
    color: var(--bheader);
    font-size: 2vw;
    font-weight: 700;
    padding: 4vw 0vw;
    text-align: center;
}


.btns {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    padding-top: 4vw;
    align-items: center;
}



.header {
    background-color: var(--1bgcolor);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5.9vw;
    align-items: center;
    padding: 0px 20px;
    position: relative;
    z-index: 100;
    /* position: fixed;
    width: 100%; */
}

.normal_text {
    line-height: 1.7;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    font-size: 1.6vw;
    align-items: center;
    padding-right: 1vw;

}


.menu_item1:hover, .menu_item2:hover, .menu_item3:hover, .menu_item4:hover, .menu_item5:hover {
    cursor: pointer;
    font-size: 1.7vw;
    color: var(--bheader);
    transition: 800ms;
}

.menu_item6 {
    background-color: var(--bgcolor);
    padding: 10px 12px;
    border-radius: 7px;
    cursor: pointer;
    
    
}

.menu_item6:hover {
    background-color: var(--bheader);
    color: var(--1bgcolor);
    font-size: 1.7vw;
    transition: 500ms;
}

.logo {
    font-size: 5vw;
    font-weight: 900;
    align-items: center;
    padding-bottom: 1vw;
    padding-left: 3vw;
}

.logo:hover {
    color: var(--bheader);
    cursor: pointer;
    transition: 500ms;
}
.logo > #n {
    font-size: 6.1vw;
    align-items: center;
}

.small_cont {
    font-size: 2vw;
    color: var(--bheader);
}

.Homecon > img {
    padding: 0px;
    margin: 0px;
    height: 35px;
}

.small_cont:hover {
    font-size: 2vw;
    color: var(--1textcolor);
}

.btncent {
    justify-content: center;
}

.button {
    background-color: var(--1bgcolor);
    padding: 12px 15px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 600;
    width: fit-content;
    text-align: center;
}
.btn_color {
    background-color: var(--bgcolor);
}
.button:hover {
background-color: var(--bheader);
color: var(--1bgcolor);
font-size: 1.4vw;
transition: 500ms;
}

.button2 {
    background-color: var(--bgcolor);
    padding: 15px 15px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 400;
    /* margin: 0vw 7vw; */
    margin-left: 7vw;
    margin-right: 7vw;
    margin-bottom: 0vw;
    text-align: center;
}

.button2:hover {
    background-color: var(--bheader);
    color: var(--1bgcolor);
    font-size: 1.35vw;
    transition: 500ms;
}


.hello {
    color: var(--bheader);
    font-weight: 600;
    font-size: 1.9vw;
    padding-bottom: 5px;
    position: relative;
}

.name {
    font-size: 6vw;
    font-weight: 800;
    position: relative;
}

.work {
    color: var(--bheader);
    font-size: 2.3vw;
    font-weight: 800;
    padding-bottom: 6px;
    padding-top: 20px;
    position: relative;
}

.tasks {
    font-weight: 500;
    position: relative;
}

.tasks > span {
    color: var(--bheader);
    font-size: 25px;
    padding-left: 20px;
    position: relative;
}
/* end of global */





.thetext {
    text-align: center;
    z-index: 10;
}

.section1_blog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.thetext::before {
    content: "";
    background-image: url(../images/nubelson-fernandes-Y376h7VN27c-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

/* .hello {
    position: relative;
    color: #ffffff;  
    font-size: 14rem;
    line-height: 0.9;
    text-align: center;
  } */

.section2_blog {
    margin: 5vw 5vw;
    padding: 4vw 4vw;
    background-color: var(--1bgcolor);
    border-radius: var(--borderradius);
}

.title--center {
    text-align: center;
    margin-top: 2vw;
    font-size: 3vw;
}

.section2__featured {
    display: flex;
    gap: 2vw;
    align-items: center;
}

.title__colored {
    color: var(--bheader);
}

.btn__mod {
    background-color: var(--bgcolor);
}

.all_blogs {
    display: flex;
    gap: 3vw;
    padding-top: 5vw;
    justify-content: center;
}

.blog_descr {
    background-color: var(--bgcolor);
    height: 40vw;
    align-items: center;
    border-radius: 8px;
}


.title3 {
    font-weight: 700;
    text-align: center;
    font-size: 1.5vw;
    padding: 1vw;
    color: var(--bheader);
}

.blog_descr > p {
    padding: 1.5vw;
    text-align: justify;
    font-size: 1vw;
}

.sec6 {
    display: flex;
    gap: 5vw;
}
.btn__modified {
    background-color: var(--1bgcolor);
}

.middle__text {
    text-align: center;
}

.blog_list {
    list-style: none;
    list-style-image: url('../images/comp.png');
}

.blog_list li {
    margin-top: 1vw;
}

.text_section_as_blog {
    display: flex;
    justify-content: space-around;
}


.footer_sec {
    background-color: var(--1bgcolor);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vw;
    height: 6vw;
    align-items: center;
    /* padding: 0px 20px; */
}

.fmenu_item6 {
    background-color: var(--bgcolor);
    padding: 10px 12px;
    border-radius: 7px;
    cursor: pointer;
    
    
}

.menu_item6:hover {
    background-color: var(--bheader);
    color: var(--1bgcolor);
    font-size: 1.7vw;
    transition: 500ms;
}

.fmenu {
    display: flex;
    flex-direction: row;
    gap: 9vw;
    font-size: 1.6vw;
    align-items: center;
    justify-items: center;
    padding-right: 1vw;

}

#icon {
    width: 30px;
    cursor: pointer;
}

.real_blog_text p {
    text-align: justify;
}

.title__mod {
    color: var(--bheader);
}

.name--modified {
    text-align: center;
    padding-top: 3vw;
    font-size: 70px;
}

.Text_area {
    background-color: var(--1bgcolor);
    border: none;
    border-radius: var(--borderradius);
    font-size: 20px;
    min-height: 250px;
    padding: 2vw;
    color: white;
}

.name_area {
    background-color: var(--1bgcolor);
    border: none;
    border-radius: var(--borderradius);
    /* font-size: 20px; */
    padding: 1vw;
    color: white;
}


/*  */

.container {
    display: flex;
    gap: 5vw;
}


.sidebar {
    background-color: var(--1bgcolor);
    width: 20%;
    /* margin-top: 100px; */
    padding-top: 100px;
    /* padding-bottom: 160px; */
    font-size: 25px;
}

.sides {
    background-color: #5b63b741;
    padding: 10px 20px;
    border-bottom: 1px solid #5B63B7;
    cursor: pointer;
}

.sides:hover {
    background-color: var(--bheader);
    width: 85%;
    transition: 500ms;
    border-radius: 0px 5px 5px 0px;
    font-size: 26px;
}

.active {
    background-color: var(--bheader);
    width: 85%;
    border-radius: 0px 5px 5px 0px;
    font-size: 26px;
}

.bigpart {
    background-color: var(--1bgcolor);
    /* margin-top: 100px; */
    margin-top: 50px;
    margin-right: 5vw;
    border-radius: 7px 7px 0px 0px;
    padding: 10px 30px;
    width: 80%;
}

.bigs {
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
}

.detail_box {
    background-color: #5b63b741;
    width: 49%;
    border-radius: 7px;
}

.detail_box_welcome {
    width: 100%;
    padding: 30px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.welcome {
    text-align: center;
}

.welcome span {
    color: var(--bheader);
    font-size: 40px;
}

.welcome .new {
    font-size: 10px;
}

.item_title {
    text-align: center;
    color: var(--bheader);
    font-weight: 600;
    font-size: larger;
    margin-top: 10px;
}

.down_flex {
    display: flex;
    font-size: 14px;
}

.detail_box_security{
    width: 100%;
}

.detail_box_contact_signups {
    font-size: 30px;
    font-weight: lighter;
    width: 100%;
    align-items: center;
    justify-content: center;
}

table {
    font-size: 14px;
    font-weight: 200;

}

.content_table {
    border-collapse: collapse;
    margin: 23px 23px;
    /* padding: 20px 20px; */
    /* font-size: 15px; */
    min-width: 300px;
    font-weight: 100px;
    width: 90%;
}

.content_table thead tr {
    background-color: #eeeeee;
    color: black;
    padding: 12px 0px;
    /* text-align: left; */
    font-weight: bold;
    border-right: 1px solid #eeeeee;
}

.content_table th,
.content_table td {
    padding: 7px 5px;
    border-right: 1px solid #eeeeee;
}

.content_table tbody tr {
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    font-weight: 100px;
}

.modified {
    justify-content: center;
    align-items: center;
}

.flexin {
    display: flex;
    flex-direction: column;
}

.detail_box_Email {
    width: 100%;
}

button {
    background-color: var(--1bgcolor);
    padding: 3px 7px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 200;
    font-size: 20px;
    width: auto;
    text-align: center;
    margin-top: 15px;
}

button:hover {
background-color: var(--bheader);
color: black;
font-size: 1.6vw;
transition: 500ms;
}

label {
    /* margin-top: 10px; */
    margin-bottom: 10px;
    font-size: 20px;
}

textarea {
    margin-top: 10px;
}

.real_form {
    background-color: var(--1bgcolor);
    width: 100%;
    padding: 30px;
    max-width: 800px;
    min-width: 400px;
    padding: 30px 60px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.input_group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 7px;
}

.input_group label {
    font-size: 20px;
    font-weight: light;
}

.input_group input , .blogarea {
    background-color: #eeeeee;
    border: none;
    width: 100%;
    font-size: 20px;
    padding: 7px 5px;
    border-radius: 5px;
}

.input_group input:focus {
    border: none;
    background-color: none;
    outline: none;
    background-color: #5b63b71f;
    color: #eeeeee;
}

.butt_sub {
    margin-top: 50px;
    border-radius: 5px;
    border: none;
    padding: 7px 15px;
    cursor: pointer;
    width: 50%;
    font-size: larger;
    font-weight: 600;
    margin-bottom: 15px;
    background-color: var(--bgcolor);
}

.butt_sub:hover {
background-color: var(--bheader);
color: var(--1bgcolor);
font-size: 1.7vw;
transition: 500ms;
}

.butt_sub:active {
    background-color: var(--formbgcolor);
    color: var(--1bgcolor);
    font-size: 1vw;
    transition: 500ms;
}

textarea {
    border: none;
    width: 100%;
    font-size: 20px;
    padding: 7px 5px;
    border-radius: 5px;


}
.down_bt {
    margin-bottom: 10px;
    width: 40%;
}

/* table */

* {
    /* Change your font family */
    font-family: sans-serif;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: var(--bheader);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 8px 12px;
}

.content-table tbody tr {
    border-bottom: 2px solid var(--bheader);
}

.content-table tbody tr:nth-of-type(even) {
    background-color: var(--bgcolor);
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--bheader);
}

tr  td:nth-child(1), tr  th:nth-child(1) {
    border-left: 2px solid var(--bheader);
}

tr  td:nth-child(4), tr  th:nth-child(4) {
    border-right: 2px solid var(--bheader);
}

tr  td:nth-child(3), tr  th:nth-child(3) {
    width: 150px;
}

.full_body {
    width: 100%;
}

.flex_blog {
    display: flex;
    justify-content: space-around;
}

td span {
    background-color: red;
    padding: 5px 5px;
    border-radius: 3px;
    cursor: pointer;
}